<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/styles/reset.css">
    <link rel="stylesheet" href="/public/styles/base.css">
    <link rel="stylesheet" href="/public/styles/layout.css">
    <link rel="stylesheet" href="/public/styles/modules.css">
</head>
<body>
    <header>
        <header style="height: 50px;">
            <h1>Best Books !</h1>
            <nav>
                <ul>
                    <li id="home">
                        <a href="./">Home</a>
                    </li>
                    <li id="new">
                        <a href="./searches/new">Search</a>
                    </li>
                </ul>
            </nav>
        </header>
        </header>
    <main>
      
        <section id="container">
            <% let count=0; %>
            <% value.forEach(obj => { %>
                <span id="span">
                    <li id="first"><img src=' <%= obj.img %>'  alt=""></li>
                    <li id="second"><%= obj.title %> </li>
                    <li id="third"><%= obj.authors %></li>
                    <a href="books/<%=obj.id%>">View details</a>
                </span>
                
                <% 
           count=count+1;
            })  %>
            <li class="count">saved books:<%= count %></li>
            
        </section>
        
    </main>
    
</body>
</html>